<%= semantic_form_for(alert, class: "contents") do |form| %>
  <%= form.semantic_errors :alert %>

  <%= form.input :symbol, as: :select, collection: Alert::SYMBOLS %>
  <%= form.input :side, as: :select, collection: Alert.sides %>
  <%= form.input :price %>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Email Channels</label>
    <div class="mt-2 space-y-2">
      <input type="hidden" name="alert[email_channel_ids][]" value="" />
      <% EmailChannel.find_each do |channel| %>
        <div class="flex items-center">
          <%= check_box_tag "alert[email_channel_ids][]", channel.id, @alert.email_channel_ids.include?(channel.id), id: "alert_email_channel_ids_#{channel.id}", class: "h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
          <label for="alert_email_channel_ids_<%= channel.id %>" class="ml-3 block text-sm font-medium text-gray-700"><%= channel.email_address %></label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
